n8n/03-weekly-newsletter.json
{
  "name": "Paisa Reality - 03 Weekly Newsletter",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "30 3 * * 1" } ] }
      },
      "id": "schedule03",
      "name": "Weekly (Monday)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*)::int AS n, COALESCE(string_agg('<li><a href=\"https://paisareality.com/newsletter/' || slug || '\">' || title || '</a> - ' || COALESCE(description, '') || '</li>', ''), '') AS items FROM (SELECT title, slug, description FROM blog_posts WHERE is_published = true ORDER BY published_at DESC NULLS LAST, created_at DESC LIMIT 5) t",
        "options": {}
      },
      "id": "pg03posts",
      "name": "Latest posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": { "id": "pr-postgres", "name": "Paisa Reality Postgres" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-haveposts",
              "leftValue": "={{ $json.n }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if03",
      "name": "Have posts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT email, unsubscribe_token FROM subscribers WHERE status = 'active'",
        "options": {}
      },
      "id": "pg03subs",
      "name": "Active subscribers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [940, 220],
      "credentials": {
        "postgres": { "id": "pr-postgres", "name": "Paisa Reality Postgres" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"from\": $env.FROM_EMAIL, \"to\": [$json.email], \"subject\": \"Paisa Reality: this week's money updates\", \"html\": \"<h2>This week from Paisa Reality</h2><ul>\" + $('Latest posts').first().json.items + \"</ul><p style=\\\"font-size:12px;color:#888\\\"><a href=\\\"\" + $env.APP_URL + \"/unsubscribe?token=\" + $json.unsubscribe_token + \"\\\">Unsubscribe</a></p>\" } }}",
        "options": { "batching": { "batch": { "batchSize": 2, "batchInterval": 1200 } } }
      },
      "id": "send03",
      "name": "Send via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 220],
      "credentials": {
        "httpHeaderAuth": { "id": "resend-api", "name": "Resend API" }
      }
    }
  ],
  "connections": {
    "Weekly (Monday)": { "main": [ [ { "node": "Latest posts", "type": "main", "index": 0 } ] ] },
    "Latest posts": { "main": [ [ { "node": "Have posts?", "type": "main", "index": 0 } ] ] },
    "Have posts?": { "main": [ [ { "node": "Active subscribers", "type": "main", "index": 0 } ], [] ] },
    "Active subscribers": { "main": [ [ { "node": "Send via Resend", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {}
}
